<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wanderlust</title>
  </head>
  <body>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= l._id %>?_method=PUT">
      <input name="listing[title]" value="<%= l.title %>" type="text" />
      <br /><br />
      <textarea name="listing[description]"><%= l.description %></textarea>
      <br /><br />
      <input name="listing[image]" value="<%= l.image %>" type="text" />
      <br /><br />
      <input name="listing[price]" value="<%= l.price %>" type="number" />
      <br /><br />
      <input
        name="listing[country]"
        value="<%= l.country %>"
        type="text"
      />
      <br /><br />
      <input
        name="listing[location]"
        value="<%=l.location %>"
        type="text"
      />
      <br /><br />
      <button>Edit</button>
    </form>
  </body>
</html> -->

<% layout('/layouts/boilerplate') -%>

    <body>

        <div class="row mt-4">
            <div class="col-8 offset-2">
                <h3>Update the details </h3>
                <br>
                <!-- <form action="/listings/     ?_method=PUT" method="post" class="needs-validation"
                    novalidate enctype="multipart/form-data"> -->
                    <form method="POST" action="/listings/<%= l._id %>?_method=PUT" novalidate  class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" placeholder="Enter title" name="listing[title]" value="<%= l.title %>"
                            class="form-control" 
                            id="title" 
                            required>
                        <div class="invalid-feedback">
                            Please enter valid title
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" cols="20" rows="4" placeholder="Enter description "
                            class="form-control" required><%= l.description %></textarea>
                        <div class="invalid-feedback">
                            Please enter short description
                        </div>
                    </div>

                    <div class="mb-3">
                        Original listing image <br>
                        <img src="<%= originalImageUrl %>"  alt="">
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image</label>
                        <input type="file" name="listing[image]" class="form-control">
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" value="<%= l.price %>" class="form-control"
                                required>
                            <div class="invalid-feedback">
                                Price should be more than 100
                            </div>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" class="form-control"
                                value="<%= l.country %>" required>
                            <div class="invalid-feedback">
                                Country should be valid
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" class="form-control" value="<%= l.location %>"
                            required>
                        <div class="invalid-feedback">
                            Location should be valid
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark add-btn">Update</button>
                </form>
                <br><br>
            </div>
        </div>
        <!-- listing[title] will create a key value pair in form  js objects which will be sent in req body. -->
        <!-- <script src="/js/script.js"></script> -->
    </body>
